// sell more & Software section in the sell-more.scss

.sell-more,
.software {
  padding: 5vh 0;
  .sm-content {
    padding: 2vh 0;

    h3 {
      color: $text-color;
      font-size: 1.8rem;
      line-height: 2.8rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: capitalize;
      margin-bottom: 2rem;
      // font-family: "Josefin Sans", sans-sarif;
    }
    p {
      color: $additional-color;
      font-family: "Montserrat", sans-serif;
      font-size: 0.9rem;
      line-height: 1.6rem;
      margin-bottom: 2rem;
    }
  }
}

.software {
  background: $primary-color;
  // padding: 10vh 0;
  .sm-content {
    margin-top: 5vh;

    h3 {
      color: $white;
    }
    p {
      color: $text-rev;
    }
    .button-second {
      &:hover {
        background: transparentize($secondary-color, 0.9);
        border: 2px solid $secondary-color;
      }
    }
  }
}
